In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv(r"C:\Users\Pranav\Desktop\Data Science\MLOps\Data\water_potability.csv", encoding = 'unicode_escape')

In [10]:
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.8904555,20791.31898,7.300211873,368.516441,564.3086542,10.37978308,86.99097046,2.963135381,0
1,3.716080075,129.4229205,18630.05786,6.635245884,NaN,592.8853591,15.18001312,56.32907628,4.500656275,0
2,8.099124189,224.2362594,19909.54173,9.275883603,NaN,418.6062131,16.86863693,66.42009251,3.05593375,0
3,8.316765884,214.3733941,22018.41744,8.059332377,356.886136,363.2665162,18.4365245,100.3416744,4.628770537,0
4,9.092223456,181.1015092,17978.98634,6.546599974,310.135738,398.4108134,11.55827944,31.99799273,4.075075425,0

In [11]:
data.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   object
 1   Hardness         3276 non-null   object
 2   Solids           3276 non-null   object
 3   Chloramines      3276 non-null   object
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   object
 6   Organic_carbon   3276 non-null   object
 7   Trihalomethanes  3114 non-null   object
 8   Turbidity        3276 non-null   object
 9   Potability       3276 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 256.1+ KB

In [13]:
def get_non_numeric(series):
    non_num_elems = []
    for elem in series:
        try:
            float(elem)
        except:
            non_num_elems.append(elem)
    return non_num_elems

In [14]:
for i in data.columns:
    non_num = get_non_numeric(data[i])
    print('*******************************')
    print('In column {} the non numeric elements are'.format(i) )
    print(non_num)
    print('*******************************')

*******************************
In column ph the non numeric elements are
['7.-.160467231']
*******************************
*******************************
In column Hardness the non numeric elements are
['214.496610%457156', "20''9.609618"]
*******************************
*******************************
In column Solids the non numeric elements are
['18767.656--18134', '172.>66.59342', '2(9368.6741)8', ' ? 29,477.76 ', ' ? 24,967.32 ', ' ? 26,631.21 ', ' ? 24,539.71 ', ' ? 20,864.34 ', ' ? 16,879.52 ', ' ? 16,488.02 ', ' ? 11,351.86 ']
*******************************
*******************************
In column Chloramines the non numeric elements are
['2.39798!499', '2.10269!09!91']
*******************************
*******************************
In column Sulfate the non numeric elements are
[]
*******************************
*******************************
In column Conductivity the non numeric elements are
['52,,,3.6712975', '323.794---624']
*******************************
*******************************
In column Organic_carbon the non numeric elements are
[' ¥12.38 ', ' ¥11.12 ', ' ¥14.93 ', ' ¥13.35 ', ' ¥11.35 ', ' ¥16.05 ', ' ¥17.29 ', ' ¥9.80 ', ' ¥9.00 ', ' ¥14.08 ', ' ¥18.70 ', ' ¥15.77 ', ' ¥13.93 ', ' ¥9.71 ', ' ¥14.57 ', ' ¥16.25 ', ' ¥8.99 ', ' ¥15.61 ', ' ¥18.10 ', ' ¥11.53 ', ' ¥12.26 ', ' ¥9.83 ', ' ¥7.51 ', ' ¥13.86 ', ' ¥15.97 ', ' ¥9.35 ', ' ¥13.55 ', ' ¥11.87 ', ' ¥9.23 ', ' ¥19.27 ', ' ¥16.15 ', ' ¥9.39 ', ' ¥15.84 ', ' ¥10.66 ', ' ¥14.86 ', ' ¥13.64 ', ' ¥10.21 ', ' ¥13.48 ', ' ¥18.15 ', ' ¥21.85 ', ' ¥17.70 ', ' ¥13.17 ', ' ¥17.08 ', ' ¥11.62 ', ' ¥7.94 ', ' ¥14.64 ', ' ¥17.21 ', ' ¥14.17 ', ' ¥6.06 ', ' ¥17.49 ', ' ¥18.21 ', ' ¥16.83 ', ' ¥13.45 ', ' ¥17.15 ', ' ¥16.13 ', ' ¥13.37 ', ' ¥14.67 ', ' ¥18.40 ', ' ¥18.60 ', ' ¥9.58 ', ' ¥16.24 ', ' ¥16.27 ', ' ¥6.58 ']
*******************************
*******************************
In column Trihalomethanes the non numeric elements are
['70.1906$£"2482']
*******************************
*******************************
In column Turbidity the non numeric elements are
['3.873**470298', '3.37745oo0524']
*******************************
*******************************
In column Potability the non numeric elements are
[]
*******************************

In [16]:
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.8904555,20791.31898,7.300211873,368.516441,564.3086542,10.37978308,86.99097046,2.963135381,0
1,3.716080075,129.4229205,18630.05786,6.635245884,NaN,592.8853591,15.18001312,56.32907628,4.500656275,0
2,8.099124189,224.2362594,19909.54173,9.275883603,NaN,418.6062131,16.86863693,66.42009251,3.05593375,0
3,8.316765884,214.3733941,22018.41744,8.059332377,356.886136,363.2665162,18.4365245,100.3416744,4.628770537,0
4,9.092223456,181.1015092,17978.98634,6.546599974,310.135738,398.4108134,11.55827944,31.99799273,4.075075425,0